

<html lang="pl">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name=" description" content="Site description">
        <link rel="stylesheet" href = {{url_for('static', filename = 'Style.css')}}>
        <title>Smart Home</title>
    </head>
    <body>
        <div class="container">
            <header>
                <span style="color: white;">
                    <h1>Smart Home System</h1>
                </span>
            </header>
            <div class="content">
                <div class=" menu">
                    <aside>
                        <h2>Menu</h2>
                        <nav>
                            <ul>
                                <li><a href="/"><span>Home page</span></a></li>
                                <li><a href="/devices"><span>List of connected devices</span></a></li>
                                <li><a href="/about"><span>About</span></a></li>
                            </ul>
                        </nav>
                    </aside>
                </div>
                <div class="tekst">
                    <section>
                        <article>
			    <h2> Here you can find some information about Smart Home system.</h2>
                        </article>
                    </section>
                </div>
            </div>
        </div>
	<center>&copy; 2018 Arkadiusz Wadowski</center>
    </body>
</html>


